*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Inter",sans-serif;
}

body{

background:
linear-gradient(
135deg,
#EEF6FF,
#F8F5FF
);

min-height:100vh;
overflow-x:hidden;
}

.background-blur{

position:fixed;

border-radius:50%;

filter:blur(120px);

z-index:-1;
}

.blur1{

width:300px;
height:300px;

background:#BDE0FE;

top:-100px;
left:-100px;
}

.blur2{

width:350px;
height:350px;

background:#E9D5FF;

right:-100px;
top:150px;
}

.page{

max-width:1400px;

margin:auto;

padding:40px;
}

.header{

text-align:center;

margin-bottom:30px;
}

.header h1{

font-size:42px;

margin-bottom:10px;
}

.header p{

font-size:18px;

color:#64748B;
}

.search-box{

display:flex;

justify-content:center;

margin-bottom:30px;
}

.search-box input{

width:500px;

padding:16px 20px;

border:none;

border-radius:16px;

background:white;

box-shadow:
0 10px 25px rgba(0,0,0,.08);

outline:none;

font-size:15px;
}

.emergency-card{

background:
linear-gradient(
135deg,
#FEE2E2,
#FECACA
);

padding:25px;

border-radius:25px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

box-shadow:
0 10px 25px rgba(0,0,0,.08);
}

.emergency-card h3{

margin-bottom:8px;
}

.emergency-card p{

color:#7F1D1D;
}

.emergency-card button{

background:#DC2626;

color:white;

border:none;

padding:14px 20px;

border-radius:12px;

cursor:pointer;
}

.therapist-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;
}

.therapist-card{

background:
rgba(255,255,255,.8);

backdrop-filter:blur(20px);

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

transition:.3s;
}

.therapist-card:hover{

transform:
translateY(-8px);
}

.therapist-card img{

width:120px;
height:120px;

border-radius:50%;

object-fit:cover;

margin-bottom:15px;

border:5px solid #E0E7FF;
}

.therapist-card h3{

margin-bottom:8px;
}

.speciality{

display:inline-block;

background:#EEF2FF;

color:#4F46E5;

padding:8px 12px;

border-radius:12px;

font-size:14px;

font-weight:600;

margin-bottom:15px;
}

.details{

color:#64748B;

margin-bottom:12px;
}

.mode{

background:#F8FAFC;

padding:10px;

border-radius:12px;

margin-bottom:18px;

color:#334155;
}

.therapist-card button{

width:100%;

padding:14px;

border:none;

background:#6366F1;

color:white;

border-radius:14px;

cursor:pointer;

font-weight:600;

transition:.3s;
}

.therapist-card button:hover{

background:#4F46E5;
}

@media(max-width:768px){

.page{

padding:20px;
}

.header h1{

font-size:32px;
}

.search-box input{

width:100%;
}

.emergency-card{

flex-direction:column;

gap:15px;

text-align:center;
}
}